<footer>
    <div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Fundaciones y organizacions para la prevención y tratamiento de abuso sexual en la infancia</h2>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

<div class="container">

  <div class="row">
 <div class="col-md-3 text-center"><a href="http://aspasi.org/" title="Aspasi Org" target="_blank"><img src="img/fundaciones1_02.gif" width="260" height="173" alt="Aspasi Org"/></a></div>
  <div class="col-md-3 text-center">
  <a href="http://www.acasi.org/" title="Acasi Org" target="_blank">
  <img src="img/fundaciones1_03.gif" width="225" height="173" alt="Acasi Org"/></a>
  </div>
  <div class="col-md-3 text-center"><a href="http://fundacionrana.org/es/" title="Fundacion Rana" target="_blank">
  <img src="img/fundaciones1_04.gif" width="293" height="173" alt="Fundacion Rana"/></a>
  </div> 
    <div class="col-md-3 text-center"><a href="http://www.paralaconfianza.org/" title="Para la Confianza Org" target="_blank">
    <img src="img/fundaciones1_05.png" width="241" height="173" alt="Para la Confianza Org"/></a>
    </div> 
  
  
  </div>


</div>

</footer>
