<div class="bg_statistics margen-both">
 <section>
      <div class="container section">
        <div class="row">
          <div class="col-md-6 circle-padding ">
            <div class="circle">
  <div class="circle__inner">
    <div class="circle__wrapper">
      <div class="circle__content">El 90% de los niños abusados conocen al abusador</div>
    </div>
  </div>
</div>
          </div>
          <div class="col-md-6 circle-padding ">
            <div class="circle_y">
  <div class="circle__inner">
    <div class="circle__wrapper">
      <div class="circle__content">Una de cada seis niñas habrá sido abusada por un pariente en su niñez</div>
    </div>
  </div>
</div>
          </div>
        </div>
      
        <div class="row ">
          <div class="col-md-6 circle-padding ">
             <div class="circle_y">
  <div class="circle__inner">
    <div class="circle__wrapper">
      <div class="circle__content">29% de las violaciones en menores ocurrieron antes de los 11 años</div>
    </div>
  </div>
</div>

</div>
          <div class="col-md-6 circle-padding ">
             <div class="circle">
  <div class="circle__inner">
    <div class="circle__wrapper">
      <div class="circle__content">20% de los niños abusados fueron abusados antes de los 8 años de edad</div>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      
    </section>
    
</div>