   <header class="masthead" style="background-image: url('img/banner_el_impacto_01.jpg')">
      <div class="container">
        <div class="row">
        <div class="col-lg-6 "> </div>
          <div class="col-lg-6 mx-auto">
            <div class="site-heading">
              <h1>El Impacto</h1>
              <span class="subheading">A largo plazo, las consecuencias del abuso sexual en menores son devastadoras para el adulto y la sociedad</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2>Consecuencias durante la niñez                </h2>
                
          </div>
        </div>
        <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->
    </section>
    
    <section>
<div class="container section"> 
        <div class="row">
          <div class="col-md-6 extra-padding bg-yellow ">
            
            
           
            <p class="lead padding-sides margin-bottom-1">Un niño sexualmente abusado puede presentar pesadillas, cambios de hábitos al comer o mostrar miedo, agresividad, aislamiento, hasta depresión.</p>

<p class="padding-sides margin-bottom-1">En la vida escolar puede existir aislamiento y perdida de interés en actividades escolares.</p>

<p class="padding-sides">En la adolescencia el riesgo de delinquer crece de tres a cinco veces frente a aquellos niños que no han sido abusados.

</p>
          </div>
          <div class="col-md-6 extra-padding bg_green text-white">
            <p class="lead padding-sides margin-bottom-1">Frecuentemente durante la adolescencia, el niño abusado tiende a consumir drogas y/o alcohol.</p>

<p class="lead padding-sides margin-bottom-1">Es tres veces mas propenso a ser promiscuo y llevar una vida sexual desordenada con alta taza de embarazo durante la pubertad </p></div>
        </div>
</div>
     
      <!-- /.container -->
    </section>
    
    <section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2>Consecuencias en la vida adulta               </h2>
                
          </div>
        </div>
        <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->
    </section>
    
    <!-- Other Section-->
     <section>
<div class="container section"> 
        <div class="row">
          <div class="col-md-6 extra-padding bg_green text-white ">
            
         
           

        <p class="lead padding-sides margin-bottom-1"> Las consecuencias del abuso sexual en la infancia son más complicadas de lo que se cree, el abuso no queda como una cosa del pasado en el baúl de los recuerdos. </p>

<p class="lead padding-sides">Las secuelas permean la adultez haciendo más difícil para las victimas entablar relaciones interpersonales sanas. </p>
</div>
          <div class="col-md-6 extra-padding bg-yellow">
            <p class="lead padding-sides margin-bottom-1">También, como consecuencia del abuso sexual en la niñez, en la vida adulta hay mayor riesgo de sufrir enfermedades mentales como la depresión e intentos de suicidio.</p>

<p class="lead padding-sides margin-bottom-1">Los adultos que sobreviven abuso sexual en la infancia son más propensos a involucrarse en actividades criminales.</p></div>
        </div>
</div>
     
      <!-- /.container -->
    </section>
    