  <header class="masthead" style="background-image: url('img/banner_prevencion_01.jpg')">
      <div class="container section">
        <div class="row">
        <div class="col-lg-6"></div>
          <div class="col-lg-6 mx-auto">
            <div class="site-heading">
              <h1>Prevención</h1>
              <span class="subheading">Más del 80% de los casos de abuso sexual ocurren cuando el niño se encuentra a solas con el abusador</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2>¿Qué conductas se consideran abuso sexual infantil?               </h2>
              
               
          </div>
        </div>
        <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->
    </section>
    
    <section>
<div class="container section"> 
        <div class="row">
          <div class="col-md-6 extra-padding bg_green text-white ">
            
            <h3 class="padding-sides margin-bottom-1">Comportamientos sexuales con contacto directo</h3>
            <ul class="padding-sides">
              <li>
              Tocar a un menor en sus genitales para   obtener un placer sexual.
              </li>
              <li>Hacer que el menor toque los genitales de la persona abusadora o mutuamente.</li>
              <li>Acariciar y besar al menor con propósitos sexuales, siempre obteniendo placer, o hacer que el menor se lo haga a la persona abusadora.</li>
              <li>Introducir objetos o partes del cuerpo, como dedos, lengua o pene, en la vagina, boca o ano de un menor.                </li>
              <li>Relación coital, vaginal o anal completa. </li>
            </ul>
          </div>
          <div class="col-md-6 extra-padding bg-yellow">
            <h3 class="margin-bottom-1 padding-sides">Comportamientos sexuales con contacto directo</h3>

<ul class=" padding-sides"><li>Mostrar material pornográfico a un menor.</li>
  <li>Exhibir los genitales delante de un menor.</li>
<li>Pedir a un menor que interactúe sexualmente con otro.</li>
<li>Seducir a un menor a través de Internet para propósitos sexuales.</li>
<li>Fotografiar a un menor en posiciones sexuales.</li>
<li> Exponer al menor a contemplar actos sexuales de personas adultas.</li>
<li>Observar al menor desnudo.</li>
</ul>
 </div>
        </div>
</div>
     
      <!-- /.container -->
    </section>
    
    
    
    <!-- Other Section-->
     
    
   <section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h3 >Descargue la cartilla informativa “Siete Pasos Para Prevenir, Detectar y Actuar Con Responsabilidad Frente al Abuso Sexual Infantil” de la Fundación Rana.  
           </h3>
                
                 <a class="btn btn-primary btn-big" href="descargas/7Pasos.pdf" target="_blanket">Descargar</a>
               
          </div>
        </div>
        </div>
        <!-- /.row -->
    </div>
    </section>
   
   
    <section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2>Más del 80% de los casos de abuso sexual ocurren cuando el niño se encuentra a solas con el abusador.            </h2>
                
                
                
          </div>
        </div>
        </div>
        <!-- /.row -->
    </div>
    </section>
    
    <section>
    
    
    <section>
<div class="container section bg-yellow">
 <h2 class="text-center margin-bottom-1">Tomando Precauciones            </h2> 
        <div class="row">
          <div class="col-md-6  ">
            
          
            <ul class="padding-sides">
             <li>Evite dejar al niño solo con otro adulto ya sea un familiar o amigo de la familia.</li>
<li>No permita que el niño este a solas con un adulto en grupos deportivos, artísticos y demás.</li>
<li>	Llegue de sorpresa cuando el niño tenga que estar a solas con un adulto o un joven.</li>
            </ul>
          </div>
          <div class="col-md-6  ">
           

<ul class=" padding-sides"><li>Hable con el niño después de que haya terminado alguna actividad donde usted no pudo supervisarlo y pregúntele como transcurrió la actividad, que le gustó y que no.</li>
<li>Preste atención a los cambios de humor.</li>
</ul>
 </div>
        </div>
</div>
     
      <!-- /.container -->
    </section>

<!--div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center margin-bottom-1">Tomando Precauciones            </h2>
                
                <ul>
                  <li>Evite dejar al niño solo con otro adulto ya sea un familiar o amigo de la familia.</li>
<li>No permita que el niño este a solas con un adulto en grupos deportivos, artísticos y demás.</li>
<li>	Llegue de sorpresa cuando el niño tenga que estar a solas con un adulto o un joven.</li>
<li>Hable con el niño después de que haya terminado alguna actividad donde usted no pudo supervisarlo y pregúntele como transcurrió la actividad, que le gustó y que no.</li>
<li>Preste atención a los cambios de humor.</li></ul>

                
                
                </div>
                </div>
                </div -->
              
               
                
    
<div class="container section"> 
<div class="text-center section">
<h2 class="margin-bottom-1">Es importante que un adulto haga terapia psicológica aunque el abuso sexual haya ocurrido en la infancia</h2>   </div>
        <div class="row">
          <div class="col-md-6 extra-padding bg_green text-white ">
            
             <p class="padding-sides">Es crucial reconocer la herida, expresar lo que pasó sin que nadie nos enjuicie, nos anule ni nos haga sentir mal por eso. A veces esto no sucedió como debía en su momento, ya sea porque el niño guardó el secreto, porque fue rechazado al contarlo o porque no se le escuchó, y por ese motivo la emoción quedó “enquistada”.*</p>

<p class="padding-sides">* Para ampliar el tema visite aspasi.org/actividad/terapias/</p> 
          </div>
          
          <div class="col-md-6">
           <iframe width="100%" height="315" src="https://www.youtube.com/embed/8l88G9NHapA" frameborder="0" allowfullscreen></iframe>
 </div>
        </div>
</div>

 </section>
     
      <!-- /.container -->
   