<header class="masthead" style="background-image: url('img/banner_el_problema_01.jpg')">
      <div class="container">
        <div class="row">
        <div class="col-lg-6 "></div>
          <div class="col-lg-6 mx-auto">
            <div class="site-heading">
              <h1>El Problema</h1>
              <span class="subheading">El abuso sexual en niños es una epidemia silenciosa con consecuencias devastadoras para el adulto que lo padeció</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<section>
<div class="text-center">
<div class="container section">

        <div class="row">
            <div class="col-lg-12">
                <h2>Una de cada tres niñas y uno de cada seis niños es abusado sexualmente antes de los diez y ocho años</h2>
               
                
                
                
               
          </div>
        </div>
        <!-- /.row -->

    </div>
    </div>
    <!-- /.container -->
    </section>
    
    <section>
<div class="container section"> 
        <div class="row">
          <div class="col-md-6 extra-padding bg-yellow ">
            
            
           
            <p class="lead padding-sides margin-bottom-1">El abuso sexual en niños es la explotación o victimización de un niño por un adulto, o un adolescente, o un niño mayor que el abusado.</p>

<p class="lead padding-sides">Cualquier tipo de penetración anal, vaginal, u oral, asi como manoseo de las partes íntimas, exhibicionismo, prostitución, toma de fotos o filmación de un niño con fines pornográficos es abuso sexual. 
</p>
          </div>
          <div class="col-md-6 extra-padding bg_green text-white">
            <p class="lead padding-sides important">La actividad sexual no necesariamente involucra violencia física, los niños pueden ser engañados y persuadidos bajo amenazas. </p></div>
        </div>
</div>
     
      <!-- /.container -->
    </section>
    
    <!-- Other Section-->
     <section>
<div class="container section"> 
        <div class="row">
          <div class="col-md-6 bgtwo "></div>
          <div class="col-md-6 extra-padding bg_green text-white">
          <h2 class="padding-sides margin-bottom-1">Los Abusadores</h2>
            <p class="lead padding-sides margin-bottom-1">El 70% de los abusadores sexuales encarcelados conocía a su víctima o era cercano a la familia. El 80% de estos delincuentes abusó de menores de 18 años.</p>

<p class="lead padding-sides">Los abusadores suelen ser varones aparentemente normales, integrados socialmente, que desarrollan a menudo habilidades interpersonales importantes y mantienen una vida sexual normal. Se estima que alrededor del 13% de los abusos son cometidos por mujeres. 
 </p></div>
    </div>    
</div>
     
      <!-- /.container -->
    </section>
    